header{
    background-color: #F1FFFE;
    width: 100%;
    height: 90px;
    
}

form-div{
    text-align: center;
}
body{
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}